<section>
  <div class="container-fluid container-height">
      <div class="row">
          <div class="col-md-12 text-center mb-5">
              <h2 class="text-white text-uppercase">Already registered?</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="loginbox panel panel-default">
                  <div class="panel-heading">
                      <h4 class="text-uppercase medium pb-4">New customer</h4>
                  </div>
                  <div class="panel-body">
                      <p class="text-white">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                          fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                      <div class="form-group last pt-5 mb-5">
                          <div class="row align-items-center">
                              <div class="col-sm-12">
                                  <button type="submit" class="medium rounded-0 btn btn-outline text-uppercase">
                                      Create An Account</button>
                              </div>

                          </div>
                      </div>
                  </div>

              </div>
          </div>
          <div class="d-block d-sm-none d-md-none d-lg-none">&nbsp;</div>

          <div class="col-md-6">
              <div class="loginbox panel panel-default">
                  <div class="panel-heading ">
                      <h4 class="text-uppercase medium">Reset password</h4>
                          <p class="text-white  pb-5">We will send you an email to rest your password</p>
                  </div>
                  <div class="panel-body pt-4">
                      <form class="form-horizontal" role="form">
                          <div class="form-group">
                              <div class="row">
                                  <div class="col-5">
                                      <label for="inputEmail3" class="text-white text-uppercase">
                                          Email*</label>
                                  </div>
                                  <div class="col-7 text-right">
                                      <p class="text-white">* Required fields</p>
                                  </div>
                              </div>
                              <div>
                                  <input type="email" class="form-control1 rounded-0 " id="inputEmail3" placeholder="Email" required>
                              </div>
                          </div>

                          <div class="form-group last pt-5">
                              <div class="row align-items-center">

                                  <div class="col-sm-12 pt-1">
                                      <button type="submit" class="medium rounded-0 btn btn-outline text-uppercase mr-2">
                                                  Submit</button><span class="text-white mr-1">or</span><a class="medium" href="#">Cancel</a>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>

              </div>
          </div>

      </div>
  </div>
</section>

<div>&nbsp;</div>
<div>&nbsp;</div>
<section class="blue-bg mr__1 news-letter">
  <div class="container-fluid">
      <div class="row py-4 align-items-center">
          <div class="col-md-3 mt_4">
              <p class="text-uppercase text-white m-0">newsletter signup:</p>
          </div>
          <div class="col-md-6">
              <div class="input-group">
                  <input type="text" class="white-bg form-control border border-right-0 border-bottom-0" placeholder="Enter your e-mail">
                  <span class="input-group-btn">
                  <button class="btn bg-dark text-white" type="button">subscribe</button>
              </span>
              </div>
          </div>
          <div class="col-md-3">
              <ul class="list-inline float_left mt_4 float-right mb-0">
                  <li class="list-inline-item ">
                      <a class="nav-link">
                          <span class="icon-facebook"></span>
                      </a>
                  </li>
                  <li class="list-inline-item ">
                      <a class="nav-link ">
                          <span class="icon-twitter"></span>
                      </a>
                  </li>
                  <li class="list-inline-item ">
                      <a class="nav-link ">
                          <span class="icon-google-plus"></span>
                      </a>
                  </li>
                  <li class="list-inline-item ">
                      <a class="nav-link ">
                          <span class="icon-linkedin"></span>
                      </a>
                  </li>

              </ul>
          </div>
      </div>
  </div>
</section>