<div class="overlay-bg">

  <nav class="navbar navbar-expand-lg box-shadow  bg-light navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand " href="#page-top">
        <img src="assets/img/logo.png" alt="Logo" width="125">
      </a>
      <button class="navbar-toggler navbar-toggle navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive1"
        aria-controls="navbarResponsive1" aria-expanded="false" aria-label="Toggle navigation">

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive1">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link medium text-uppercase" href="#home">
              <span class="icon-home">
              </span> Home
            </a>
          </li>
          <li class="nav-item ml-3 ml__0 dropdown">
            <a class="nav-link medium text-uppercase categories dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="icon-bars">
              </span>
              <span>categories</span>
            </a>
            <ul class="dropdown-menu megadrop" aria-labelledby="navbarDropdownMenuLink">
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-item  dropdown-toggle">Air Tools</a>
              </li>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-item  dropdown-toggle">Car Washer</a>
              </li>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-item  dropdown-toggle">Compresser</a>

              </li>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-item  dropdown-toggle">Digital Meansuring Tools</a>
              </li>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-item  dropdown-toggle">Garden Tools</a>
              </li>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-item  dropdown-toggle">Hand Tools</a>
              </li>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-item  dropdown-toggle">Power Tools</a>
                <ul class="dropdown-menu multi-column columns-3">
                  <div class="row">
                    <div class="col-sm-4 pr-2 border-right">
                      <ul class="multi-column-dropdown">
                        <li>
                          <a href="#" class="dropdown-item">Angle Grinder Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Belt Sander Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Bench Grinder</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Circular Saw Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Core Drill Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Cut Off Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Demoltion Hammer Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Die Griender Machine</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4 pr-2 border-right">
                      <ul class="multi-column-dropdown">
                        <li>
                          <a href="#" class="dropdown-item">Drill Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Drill Press</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Electric Mixeer Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Electric Nibber Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Electric Sheer Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Electric Vibrator</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Heat Gun Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Jig Saw Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Marble Cutter Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Miter Saw Machine</a>
                        </li>

                      </ul>
                    </div>
                    <div class="col-sm-4 pr-2 border-right">
                      <ul class="multi-column-dropdown">
                        <li>
                          <a href="#" class="dropdown-item">Orbital Sander Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Planer Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">PowerTools Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Rotary Tools Accessories</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Rotary Hammer Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Router Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Screwdriver Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Slot Cutter Machine</a>
                        </li>
                        <li>
                          <a href="#" class="dropdown-item">Tile Cutter</a>
                        </li>

                      </ul>
                    </div>
                  </div>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-item  dropdown-toggle">Vacum Cleaner</a>
              </li>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-item  dropdown-toggle">Weater Pump</a>
              </li>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-item  dropdown-toggle">Welding Tools</a>
              </li>


            </ul>
          </li>

        </ul>

        <ul class="navbar-nav ml-auto mobilenav navbar-right ">
          <li>
            <div class="form-group has-feedback">
              <input type="text" class="form-control" id="inputValidation" placeholder="Search">
              <span class="icon-search form-control-feedback"></span>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link categories dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="icon-shopping-cart"></span>
            </a>
            <ul class="dropdown-menu dropdown-cart" role="menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <span class="item">
                  <span class="item-left">
                    <img src="assets/img/powertools.png" alt="" />
                    <span class="item-info">
                      <span>Angle griender Machine</span>
                      <p class="blue">1X
                        <span class="icon-inr"></span>2,450.00</p>
                    </span>
                  </span>
                  <span class="item-right pull-right">
                    <span class="icon-trash-2"></span>
                  </span>
                </span>
              </li>
              <li>
                <span class="item">
                  <span class="item-left">
                    <img src="assets/img/Dewalt-Compressors.png" alt="" />
                    <span class="item-info">
                      <span>Dewalt-Compressor</span>
                      <p class="blue">1X
                        <span class="icon-inr"></span>2,450.00</p>
                    </span>
                  </span>
                  <span class="item-right pull-right">
                    <span class="icon-trash-2"></span>
                  </span>
                </span>
              </li>


              <li class="divider"></li>
              <li>
                <span class="item">
                  <span class="item-left">
                    <h5>Total:</h5>
                  </span>
                  <span class="blue item-right pull-right">
                    <span class="icon-inr mr-1"></span>5,496.00
                  </span>
                </span>
              </li>
              <li class="ml-3 mr-3">
                <a class="btn  btn-success rounded-0 text-center text-uppercase" href="">Proceed to checkout</a>
              </li>
              <li>
                <a class="text-center" href="">View Cart</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link categories dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="icon-user"></span>
            </a>
            <div class="login dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">
                <span class="icon-lock mr-2"></span>Sign in</a>
              <a class="dropdown-item" href="#">
                <span class="icon-user-plus mr-2"></span>Register</a>
              <a class="dropdown-item" href="#">
                <span class="icon-handshake-o mr-2"></span>Supplier/Reseller</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <span class="icon-cog"></span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</div>