<section class="py-5 mt-6 bg-dark">

  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <ul>
          <li>
            <a href="#" class="text-uppercase">Shop my tools</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#">Support</a>
          </li>
          <li>
            <a href="#">Order Tracking</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li>
            <a href="#" class="text-uppercase">Customer service</a>
          </li>
          <li>
            <a href="#">Terms of use</a>
          </li>
          <li>
            <a href="#">Return Policy</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Shipping</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 ">
        <ul>
          <li>
            <a href="#" class="text-uppercase">Payment methods</a>
          </li>
          <li>
            <a href="#">Net Banking</a>
          </li>
          <li>
            <a href="#">EMI Conversion</a>
          </li>

        </ul>
      </div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12">
            <h6 class="text-uppercase">Contact us</h6>
            <p class="mb-2">
              <span class="icon-map-marker mr-2 "></span> A-38, Thiruvika street, Nehru nagar, Velachery, Chennai
            </p>
            <p class="mb-2">
              <span class="icon-envelope-o mr-2 "></span>support@gmail.com
            </p>
            <p class="mb-3">
              <span class="icon-phone mr-2 "></span>+91 9874563214
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>


</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="assets/img/logo.png" width="125">
      </div>
      <div class="col-md-4">
        <span class="text-small">© 2018 ShopMyTools. All Rights Reserved</span>
      </div>
      <div class="col-md-6 text-right">
        <img src="assets/img/pay.png">
      </div>
    </div>

  </div>
</section>