<nav class="fixed-top-2" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Account</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Account</li>
    </ol>
</nav>
<div class="d-block d-sm-none d-md-none d-lg-none">&nbsp;</div>

<section>
    <div class="container-fluid container-height">
        <div class="row">
            <div class="col-md-12 text-center mb-5">
                <h2 class="text-white text-uppercase">Create an account</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="loginbox panel">
                    <div class="row">
                        <div class="col-md-6">
                            <div class=" panel-default">
                                <div class="panel-heading">
                                    <h4 class="text-uppercase medium mb-4">Personal information</h4>


                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="name" class="text-white text-uppercase">
                                                        First Name*</label>
                                                </div>
                                                <div class="col-7 text-right">
                                                    <p class="text-white">* Required fields</p>
                                                </div>
                                            </div>
                                            <div>
                                                <input type="email" class="form-control1 rounded-0 " id="name" placeholder="First Name" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="lname" class="text-white text-uppercase">
                                                Last Name*</label>
                                            <div>
                                                <input type="text" class="form-control1 rounded-0 " id="lname" placeholder="Last Name" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="mobilenumber" class="text-white text-uppercase">
                                                Mobile Number*</label>
                                            <div>
                                                <input type="number" class="form-control1 rounded-0 " id="mobilenumber" placeholder="Mobile Number" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="gst" class="text-white text-uppercase">
                                                GST Number*</label>
                                            <div>
                                                <input type="text" class="form-control1 rounded-0 " id="gst" placeholder="GST Number" required>
                                            </div>
                                        </div>
                                        </form>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel-default">
                                <div class="panel-heading">
                                    <h4 class="text-uppercase medium mb-4">Login information</h4>

                                </div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-5">
                                                <label for="inputEmail3" class="text-white text-uppercase">
                                                    Email*</label>
                                            </div>

                                        </div>
                                        <div>
                                            <input type="email" class="form-control1 rounded-0 " id="inputEmail3" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="text-white text-uppercase">
                                            Password*</label>
                                        <div>
                                            <input type="password" class="form-control1 rounded-0 " id="inputPassword" placeholder="Password" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cnfmpsd" class="text-white text-uppercase">
                                            Confirm Password*</label>
                                        <div>
                                            <input type="password" class="form-control1 rounded-0 " id="cnfmpsd" placeholder="Confirm Password" required>
                                        </div>
                                    </div>
                                    <div class="form-group last pt-3">
                                        <div class="row align-items-center">

                                            <div class="col-sm-12 text-right">
                                                <button type="submit" class="medium rounded-0 btn btn-outline text-uppercase mr-2">
                                                    Login</button>
                                                <span class="text-white mr-1">or</span>
                                                <a class="medium" href="#">Return to Store</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div>&nbsp;</div>
<div>&nbsp;</div>
<section class="blue-bg mr__1 news-letter">
    <div class="container-fluid">
        <div class="row py-4 align-items-center">
            <div class="col-md-3 mt_4">
                <p class="text-uppercase text-white m-0">newsletter signup:</p>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="white-bg form-control border border-right-0 border-bottom-0" placeholder="Enter your e-mail">
                    <span class="input-group-btn">
                        <button class="btn bg-dark text-white" type="button">subscribe</button>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <ul class="list-inline float_left mt_4 float-right mb-0">
                    <li class="list-inline-item ">
                        <a class="nav-link">
                            <span class="icon-facebook"></span>
                        </a>
                    </li>
                    <li class="list-inline-item ">
                        <a class="nav-link ">
                            <span class="icon-twitter"></span>
                        </a>
                    </li>
                    <li class="list-inline-item ">
                        <a class="nav-link ">
                            <span class="icon-google-plus"></span>
                        </a>
                    </li>
                    <li class="list-inline-item ">
                        <a class="nav-link ">
                            <span class="icon-linkedin"></span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>